:root{
    --background: #222;
    --text-color-default: #fdfdfd;
    --header-height: 8vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--text-color-default);

    header{
        display: flex;
        height: var(--header-height);

        #logo{
            img {
                max-height: 100%;
            }
        }

        nav{
            display: flex;
        }
    }
}